{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "strict",
  "parser": "typescript"
}